*{
	text-transform: capitalize;
}

h3{
	color: #fff;

}
body{
	background-image: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5)50%), url("images/2.jpg");
	background-size: cover;
	background-position: center;
}
#box{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.7567401960784313) 0%, rgba(0,212,255,1) 100%);
}
.total{
	color: #333;
}
.add{
	margin-right: 250px !important;
}
.search-option{
	width: 110px;

}
input{
	width: 85px;
}
.editbtn{
	width: 90px;
	text-decoration: none;
	background-color: white;
	color: #000;
}



@media(max-width: 600px){
	.table-input
	{
		width: 40px !important;
	}
	#calender{
		width: 40px !important;
	}
	.editbtn{
		width: 40px !important;

	}
}
@media only screen and (max-width: 400px) and (min-width: 300px){
	.table-input{
		width: 20px !important;
	}
	#logo-style{
		font-size: 20px !important;
		font-weight: 300;
	}
	.year{
		width: 40px !important;
	}
	.year-name{
		width: 40px !important;
	}
}
@media only screen and (max-width: 700px) and (min-width: 600px){
	.table-input{
		width: 40px !important;
	}
}
@media only screen and (max-width: 800px) and (min-width: 700px){
	.table-input{
		width: 40px !important;
	}
}
@media only screen and (max-width: 900px) and (min-width: 800px){
	.table-input{
		width: 40px !important;
	}
}
@media only screen and (max-width: 1000px) and (min-width: 900px){
	.table-input{
		width: 40px !important;
	}
}
