*{
	text-transform: capitalize;
}

h3{
	color: #fff;

}
body{
	background-image: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5)50%), url("images/fruit-bg.jpg");
	background-size: cover;
	background-position: center;
}
#box{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.7567401960784313) 0%, rgba(0,212,255,1) 100%);
}
.total{
	color: #333;
}
.add{
	margin-right: 250px !important;
}
.search-option{
	width: 110px;

}
input{
	width: 85px !important;
}
.editbtn{
	width: 90px;
	text-decoration: none;
	background-color: white;
	color: #000;
}



@media(max-width: 600px){
	.table-input
	{
		width: 40px !important;
	}
	#calender{
		width: 40px !important;
	}
	.editbtn{
		width: 40px !important;

	}
}
