body{
	background-image: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5)50%), url("images/fruit-bg.jpg");
	background-size: cover;
	background-position: center;
}

nav{
	background-color: #477D39;
}
.navbar-brand{
	font-size: 16px;
	font-weight: 400;
	line-height: 19.36px;
}
.nav-link{
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15px;
}
.list-detail{
	/*background-color: #A3B570;*/
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.7567401960784313) 0%, rgba(0,212,255,1) 100%);
}
h4{
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15px;
	color: #fff;
}
ul li{
	list-style: none;
}
ul li a{
	font-size: 20px;
	font-weight: 400;
	line-height: 24.2px;
	color: #fff;

}
#grid-box1{
	align-items: center !important;
	justify-content: center !important;
}
.detail-info{
	/*background-color: #A3B570;*/
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.7567401960784313) 0%, rgba(0,212,255,1) 100%);	
}
#name{
	width: 209px;
	min-width: 50px;

}
#selection{
	width: 318px;

}
label{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.2px;

}
#date{
	width: 250px;
	min-width: 70px;
}
#addbtn{
	width: 250px;

}
#cash{
	margin-left: 90px !important;
}
#detail{
	margin-left: 70px !important;
}
#date2{
	margin-left: 75px !important;
}
#place{
	margin-left: 78px !important;
}
#names{
	margin-left: 90px !important;
}
.btn{
	margin-right: 110px !important;
}
#keyboard{
	align-items: center;
	justify-content: center;
	grid-row-gap: 10px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.7567401960784313) 0%, rgba(0,212,255,1) 100%);
}
.table-box{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.7567401960784313) 0%, rgba(0,212,255,1) 100%);
}
input{
	width: 85px;
}
.edit{
	width: 90px;
	text-decoration: none;
	background-color: white;
	color: #000;
}

@media (max-width: 600px){

	#selection-paid{
		margin-right: 40px;

	}
	.input-table2{
		width: 40px !important;
	}

}
@media only screen and (max-width: 330px) and (min-width: 200px){
	.input-table2{
		width: 27px !important;
	}
	.last-sel{
		margin-right: 40px !important;
	}
	.search-sel{
		margin-left: 110px !important;
		width: 40px !important;
	}
}
@media only screen and (max-width: 390px) and (min-width: 300px){
	.input-table2{
		width: 30px !important;
	}
	.search-sel{
		width: 40px !important;
	}
}
@media only screen and (max-width: 650px) and (min-width: 600px){
	.input-table2{
		width: 35px !important;
	}
}
@media only screen and (max-width: 800px) and (min-width: 700px){
	.input-table2{
		width: 40px !important;
	}
}
@media only screen and (max-width: 900px) and (min-width: 800px){
	.input-table2{
		width: 45px !important;
	}
}
@media only screen and (max-width: 1000px) and (min-width: 900px){
	.input-table2{
		width: 45px !important;
	}
} 
